{{ 'popup.css' | asset_url | stylesheet_tag }}

<div id="app">
  <div class="container">
    <div class="modal">
      <div class="modal_icon">
        &#10006;
      </div>
      <div class="modal_body">
        <div class="left">
          <img id="image" src="https://via.placeholder.com/820x400.png?text=Your+image" alt="image" />
        </div>
        <div class="right">
          <h3 id="title">Don't want to miss anything?</h3>
          <p id="description">Be the first to see new arrivals, exclusive deals and much more.</p>
          <div>
            <input placeholder="Enter your email" />
            <button id="button">Subscribee</button>
          </div>
          <div class="contact">
            <a target="_blank" href="#">Contact us</a>
            to remove brandmark
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function start() {
    const app = document.getElementById("app");
    const closeBtn = document.querySelector(".modal_icon");

    closeBtn.addEventListener("click", () => {
      app.style.opacity = 0;
      setTimeout(() => {
        app.style.display = "none";
      }, 100)
    })

    const data = {{ shop.metafields.kiz-app-plugin.pop-up }};
  if (data.active)
    showPopup(data);

  function showPopup(data) {
    const titleEl = document.getElementById("title");
    const descriptionEl = document.getElementById("description");
    const imageEl = document.getElementById("image");
    const buttonEl = document.getElementById("button");
    const rightEl = document.querySelector(".right");
    const contactEl = document.querySelector(".contact > a");

    app.style.display = "block";
    titleEl.innerText = data?.title
    titleEl.style.color = data?.text_color
    descriptionEl.innerText = data?.description
    descriptionEl.style.color = data?.text_color
    if (data?.image) imageEl.src = data?.image
    buttonEl.innerText = data?.button_text
    buttonEl.style.backgroundColor = data?.button_color
    rightEl.style.backgroundColor = data?.bg_color
    contactEl.href = data?.button_link

    setTimeout(() => {
      app.style.opacity = 1;
    }, 2000)
  }
  }) ();

</script>

{% schema %}
{
"name": "Popup",
"target": "body",
"settings": []
}
{% endschema %}